$$
\mathbf{x} = [1, 2, 3, \dots, 1000]\\
\mathbf{y} = \mathbf{x} ^ 2\\
\mathbf{z} = \mathbf{y} \cdot \mathbf{y}
$$

In [ ]:
import time

In [ ]:
t0 = time.time()
x = range(1, 1001)
y = (i ** 2 for i in x)
z = sum(i * i for i in y)
delta_t = (time.time() - t0) * 1e6
print(delta_t)

431.5376281738281

In [ ]:
x = list(range(1, 1001))
y = (i ** 2 for i in x)
print(y)

<generator object <genexpr> at 0x7e7ca72d4dd0>

In [ ]:
range(1000)

range(0, 1000)

In [ ]:
def my_gen():
    cont = 0
    while True:
        yield cont
        cont += 1

In [ ]:
gen = my_gen()

In [ ]:
gen

In [ ]:
next(gen)

3

In [ ]:
from urllib.request import urlretrieve
import numpy as np
import pandas as pd
import psutil
from typing import List, Generator
from pandas import DataFrame

In [ ]:
urlretrieve?

In [ ]:
urlretrieve(
    "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv",
    filename="data.csv"
)

('data.csv', <http.client.HTTPMessage at 0x7e7c82316950>)

In [ ]:
mem0 = psutil.virtual_memory()
mem0

svmem(total=13613305856, available=12420284416, percent=8.8, used=885260288, free=9091698688, active=627314688, inactive=3642785792, buffers=341426176, cached=3294920704, shared=1945600, slab=155344896)

In [ ]:
mem0 = psutil.virtual_memory().used / 1024 ** 2

df = pd.read_csv("data.csv")

mem1 = psutil.virtual_memory().used / 1024 ** 2

In [ ]:
del df

In [ ]:
import gc

In [ ]:
gc.collect()

0

In [ ]:
mem1 - mem0

0.0

In [ ]:
!ls -sh

total 1.8M
1.8M data.csv  4.0K sample_data

In [ ]:
def read10(path: str, n: int) -> List[DataFrame]:
    data = []
    for _ in range(n):
        data.append(pd.read_csv(path))
    return data

In [ ]:
mem0 = psutil.virtual_memory().used / 1024 ** 2

data = read10("data.csv", 1000)

mem1 = psutil.virtual_memory().used / 1024 ** 2
print(mem1 - mem0)

2603.66796875

In [ ]:
data[0]

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

In [ ]:
def read10_gen(path: str, n: int) -> Generator:
    for _ in range(n):
        yield pd.read_csv(path)

In [ ]:
mem0 = psutil.virtual_memory().used / 1024 ** 2
gen = read10_gen("data.csv", 1000)
mem1 = psutil.virtual_memory().used / 1024 ** 2
print(mem1 - mem0)

0.0

In [ ]:
df = next(gen)

In [ ]:
df

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,2/28/23,3/1/23,3/2/23,3/3/23,3/4/23,3/5/23,3/6/23,3/7/23,3/8/23,3/9/23
0,NaN,Afghanistan,33.939110,67.709953,0,0,0,0,0,0,...,209322,209340,209358,209362,209369,209390,209406,209436,209451,209451
1,NaN,Albania,41.153300,20.168300,0,0,0,0,0,0,...,334391,334408,334408,334427,334427,334427,334427,334427,334443,334457
2,NaN,Algeria,28.033900,1.659600,0,0,0,0,0,0,...,271441,271448,271463,271469,271469,271477,271477,271490,271494,271496
3,NaN,Andorra,42.506300,1.521800,0,0,0,0,0,0,...,47866,47875,47875,47875,47875,47875,47875,47875,47890,47890
4,NaN,Angola,-11.202700,17.873900,0,0,0,0,0,0,...,105255,105277,105277,105277,105277,105277,105277,105277,105288,105288
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
284,NaN,West Bank and Gaza,31.952200,35.233200,0,0,0,0,0,0,...,703228,703228,703228,703228,703228,703228,703228,703228,703228,703228
285,NaN,Winter Olympics 2022,39.904200,116.407400,0,0,0,0,0,0,...,535,535,535,535,535,535,535,535,535,535
286,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,11945,11945,11945,11945,11945,11945,11945,11945,11945,11945
287,NaN,Zambia,-13.133897,27.849332,0,0,0,0,0,0,...,343012,343012,343079,343079,343079,343135,343135,343135,343135,343135
288,NaN,Zimbabwe,-19.015438,29.154857,0,0,0,0,0,0,...,263921,264127,264127,264127,264127,264127,264127,264127,264276,264276

Python eficiente:

In [ ]:
t0 = time.time()
x = range(1, 1001)
y = (i ** 2 for i in x)
z = sum(i * i for i in y)
delta_t = (time.time() - t0) * 1e6
print(delta_t)

426.5308380126953

In [ ]:
t0 = time.time()
x = list(range(1, 1001))
y = [i ** 2 for i in x]
z = sum([i * i for i in y])
delta_t = (time.time() - t0) * 1e6
print(delta_t)

765.3236389160156

In [ ]:
type(int)

type

In [ ]:
%%writefile main.c
#include <time.h>
#include <stdio.h>

long long int fun() {
    long long int x[1000], y[1000], w[1000], i, acum;

    for (i = 0; i < 1000; i++) {
        x[i] = i + 1;
    }

    for (i = 0; i < 1000; i++) {
        y[i] = x[i] * x[i];
    }

    for (i = 0; i < 1000; i++) {
        w[i] = y[i] * y[i];
    }

    for (i = 0; i < 1000; i++) {
        acum += w[i];
    }

    return acum;
}

int main(void){
    int t0 = clock();
    long long int res = fun();
    int t1 = clock();
    double delta_t = (double)(t1 - t0) * 1e6 / CLOCKS_PER_SEC;
    printf("Resultado: %lli\n", res);
    printf("Tiempo: %f", delta_t);
    return 0;
}

Overwriting main.c

In [ ]:
!gcc main.c -o main

In [ ]:
!./main

Resultado: 200500333333300
Tiempo: 13.000000

In [ ]:
print(z)

200500333333300

In [ ]:
%%writefile main2.c
#include <time.h>
#include <stdio.h>

long long int fun() {
    long long int i, x, y, z = 0;

    for (i = 0; i < 1000; i++) {
        x = (i + 1);
        y = x * x;
        z += y * y;
    }

    return z;
}

int main(void){
    int t0 = clock();
    long long int res = fun();
    int t1 = clock();
    double delta_t = (double)(t1 - t0) * 1e6 / CLOCKS_PER_SEC;
    printf("Resultado: %lli\n", res);
    printf("Tiempo: %f", delta_t);
    return 0;
}

Writing main2.c

In [ ]:
!gcc main2.c -o main

In [ ]:
!./main

Resultado: 200500333333300
Tiempo: 3.000000

In [ ]:
t0 = time.time()
x = np.arange(1, 1001) ** 2
z = x @ x
delta_t = (time.time() - t0) * 1e6
print(delta_t)

237.46490478515625

In [ ]:
x.dtype

dtype('int64')

In [ ]:
64 / 8

8.0

In [ ]:
!pip install gpt4all

Collecting gpt4all
  Downloading gpt4all-1.0.8-py3-none-manylinux1_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 16.0 MB/s eta 0:00:00
Requirement already satisfied: requests in /usr/local/lib/python3.10/dist-packages (from gpt4all) (2.27.1)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from gpt4all) (4.65.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests->gpt4all) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests->gpt4all) (2023.7.22)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests->gpt4all) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests->gpt4all) (3.4)
Installing collected packages: gpt4all
Successfully installed gpt4all-1.0.8

In [ ]:
![[ -d mlds7_models ]] && rm -rf mlds7_models
!git clone https://huggingface.co/juselara1/mlds7_models

Cloning into 'mlds7_models'...
remote: Enumerating objects: 6, done.
remote: Total 6 (delta 0), reused 0 (delta 0), pack-reused 6
Unpacking objects: 100% (6/6), 803 bytes | 803.00 KiB/s, done.
Encountered 1 file(s) that may not have been copied correctly on Windows:
	ggml-model-gpt4all-falcon-q4_0.bin

See: `git lfs help smudge` for more details.

In [ ]:
from gpt4all import GPT4All

In [ ]:
model = GPT4All(
    model_name="ggml-model-gpt4all-falcon-q4_0",
    model_path="mlds7_models"
)

Found model file at  mlds7_models/ggml-model-gpt4all-falcon-q4_0.bin

In [ ]:
model.generate("Albert Einstein was", max_tokens=10)

' a German-born theoretical physicist who is known for'